:root {
/*Primary*/

--clr-Bright-orange: hsl(31, 77%, 52%);
--clr-cyan: hsl(184, 100%, 22%);
--clr-dark-cyan: hsl(179, 100%, 13%);

/*Neutral*/

--clr-paragraphs: hsla(0, 0%, 100%, 0.75);

    /*(background, headings, buttons)*/

--clr-gray : hsl(0, 0%, 95%);

/*fonts*/

--ff-title: 'Big Shoulders Display', cursive;
--ff-body: 'Lexend Deca', sans-serif;

--fw-body : 400; 
--fw-title : 700;

--fs-body: 0.9375rem;
--fs-title: 2.5rem;
} 

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--clr-gray);
}

main {
    max-width: 23.438rem;
    margin-inline: auto;
    margin-block: 3rem;
    border-radius: 0.5rem; 
    overflow: hidden;
    font-family: var(--ff-body);
    color: var(--clr-paragraphs);
}
.section-style {
    padding: 3rem 2rem;
}
.title {
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    font-weight: var(--fw-title);
    text-transform: uppercase;
    color: var(--clr-gray);
}
.section-one {
    background-color: var(--clr-Bright-orange);
}
.section-one button {
    color: var(--clr-Bright-orange);
}
.section-two {
    background-color: var(--clr-cyan);
}
.section-two button{
    color: var(--clr-cyan);
}
.section-three {
    background-color: var(--clr-dark-cyan);
}
.section-three button{
    color: var(--clr-dark-cyan);
}

button {
    cursor: pointer;
    border: 2px solid var(--clr-gray);
    background-color: var(--clr-gray);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    text-transform: capitalize;
    transition: background-color 0.15s;
}
button:hover {
    background-color: transparent;
    color: var(--clr-gray);
}
.btn-padding {
    margin-top: 1.875rem;
}

@media (min-width:40.75rem) {
    body {
        display: grid;
        place-content: center;
    }
    main {
        max-width: 56.25rem;
        display: grid;
        place-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-block: 0;
    }
    .padding {
        margin-top: 20px;
    }
    .btn-padding {
        margin-top: 100px;
    }
}